<div class="row mt-2">
    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12 my-2">
        <div class="card-body bg-white rounded box-design">
            <h4>Credit Logs Report</h4>
            <div class="table-responsive">
                <table class="table font-12">
                    <thead class="bg-light">
                        <tr class="border-0">
                            <th class="border-0">Adjusted At</th>
                            <th class="border-0">Username</th>
                            <th class="border-0">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of users | paginate: config">
                            <td>{{list.adjusted}}</td>
                            <td>{{list.userName}}</td>
                            <td>{{list.created}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>

            </div>
        </div>
    </div>
</div>