<!-- <div class="card">
    <div class="title">
        <h3 class="card-header text-center">User Signup</h3>
        <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-6">
                        <label>First Name</label>
                        <input class="form-control" type="text" placeholder="Enter User Name"
                            formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">
                                First Name is Required
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>Last Name</label>
                        <input class="form-control" type="text" placeholder="Enter Last Name" formControlName="lastName"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">
                                Last Name is Required
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>State</label>
                        <select name="" class="form-control" formControlName="state"
                            [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                            <option value="">Select State</option>
                            <option value="TamilNadu">TamilNadu</option>
                            <option value="Kerela">Kerela</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Delhi">Delhi</option>
                        </select>
                    </div>
                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                        <div *ngIf="f.state.errors.required">State is Required</div>
                    </div>
                    <div class="form-group col-6">
                        <label>City</label>
                        <select name="" class="form-control" formControlName="city"
                            [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                            <option value="">Select City</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Trichy">Trichy</option>
                            <option value="Madurai">Madurai</option>
                            <option value="Tirunelveli">Tirunelveli</option>
                        </select>
                    </div>
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">City is Required</div>
                    </div>
                    <div class="form-group col-6">
                        <label>Email</label>
                        <input class="form-control" type="email" placeholder="Enter Email" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is Required</div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>Mobile Number</label>
                        <input class="form-control" type="tel" placeholder="Enter Mobile Number"
                            formControlName="mobileNumber"
                            [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
                        <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.mobileNumber.errors.required">
                                Mobile Number is Required
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>Password</label>
                        <input class="form-control" type="password" placeholder="Enter Password"
                            formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is Required</div>
                            <div *ngIf="f.password.errors.minlength">
                                Password must be at least 6 characters
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>Confirm Password</label>
                        <input class="form-control" type="password" placeholder="Enter Confirm Password"
                            formControlName="confirmPassword" [ngClass]="{
                  'is-invalid': submitted && f.confirmPassword.errors
                }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">
                                Confirm Password is Required
                            </div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">
                                Passwords must match
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1">Register</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> -->