<div class="container-fluid p-3 bg-dashboard">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <nav class="navbar navbar-light bg-light border-bottom">
                <ul class="nav top-nav">
                    <li class="nav-item" routerLink="profile-update">
                        <a class="nav-link active color-blue" routerLinkActive="active">Profile Update</a>
                    </li>
                    <li class="nav-item" routerLink="change-password">
                        <a class="nav-link" routerLinkActive="active">Change Password</a>
                    </li>
                    <li class="nav-item" routerLink="credit-log">
                        <a class="nav-link" routerLinkActive="active">Credit Log</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>