.btn-col {
  color: #fff;
  font-size: 12px;
  background: rgb(255, 105, 124);
  padding: 10px 30px;
}
.contant-head {
  background: none !important;
  border: none !important;
}
.content-title {
  position: relative;
  top: 10px;
}
.status {
  display: block;
  width: 50%;
  text-align: center;
}
.select-box-bg {
  background: #f5f8fa;
  color: #a1a5b7;
  width: 50%;
  font-size: 12px;
}
.active {
  color: rgb(255, 105, 124) !important;
}
