<div class="card-body p-0 bg-white box-design">
    <div class="row card-header m-0 contant-head mt-4">
        <div class="col-lg-8">
            <h5 class="content-title" style="background-color: white;">Campaign Wise Summary</h5>
        </div>
        <div class="col-lg-4 text-right">
            <button class="btn btn-col" style="background-color: rgb(255, 105, 124); color:white;">Select Date</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table font-12">
            <thead class="bg-light">
                <tr class="border-0">
                    <th class="border-0">Label</th>
                    <th class="border-0">API Keys</th>
                    <th class="border-0">Created</th>
                    <th class="border-0">Status</th>
                    <th class="border-0">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of users | paginate: config">
                    <td>{{list.label}}</td>
                    <td>{{list.apiKeys}}</td>
                    <td>{{list.created}}</td>
                    <td><span class="status p-1 bg-primary text-white rounded">{{list.status}}</span></td>
                    <td>{{list.action}}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>

    </div>
</div>
