.template-body-content {
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #cccccc2e;
}
.template-body-content ul {
  list-style: none;
  line-height: 2.5;
  margin: 10px 0;
}
.sample-content-area {
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 120px;
}
.box-design {
  box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
  border-radius: 15px;
}
.template-title input {
  background: #f6f6f6;
}
.create-template-btn {
  margin: auto;
}
