<div class="card-body p-0 bg-white box-design">
    <div class="row card-header m-0 contant-head mt-4 bg-white box-design">
        <div class="col-lg-12">
            <h5 class="content-title" style="background-color: white;">Create Template</h5>
        </div>
        <div class="col-lg-12 template-title p-3">
            <h6>TEMPLATE NAME</h6>
            <input class="form-control font-12 w-auto" type="text" placeholder="Template Name" />
        </div>
        <div class="col-lg-3 note px-3">
            <p class="mb-0"><b>Note:</b></p>
            <p class="mb-0">Add the dynamic data with Dynamic data Example: hi name ,
                your orders has dispatched to shipping today! Total Product count
                number</p>
        </div>
        <div class="col-lg-12 template-body p-3">
            <h6>TEMPLATE BODY (MAX LENGTH 1024)</h6>
            <div class="template-body-content">
                <ul>
                    <li>*Limited Days left on your K7 Free Trial*</li>
                    <li>Dear Name</li>
                    <li> Your product_name Free Trial is expiring on trial_expiry.</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 note px-3">
            <p class="mb-0"><b>Note:</b></p>
            <p class="mb-0">Provide sample data for dynamic values as comma separated</p>
            <p class="mb-0">Example: Demouser, 4</p>
        </div>
        <div class="col-lg-12 sample-content p-3">
            <h6>SAMPLE CONTENT</h6>
            <div class="sample-content-area">
            </div>
        </div>
        <button class="btn btn-primary create-template-btn my-2">Create Template</button>
    </div>

</div>
