<div class="row mt-2">
    <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12 my-2">
        <div class="card-body bg-white rounded box-design">
            <h4>Basic Info</h4>
            <div class="row">
                <div class="col-lg-6 my-2">
                    <label for="">Company Name</label>
                    <input class="form-control" type="text" placeholder="Company Name" />
                </div>
                <div class="col-lg-6 my-2">
                    <label for="">Contact Person</label>
                    <input class="form-control" type="text" placeholder="Contact Person" />
                </div>
                <div class="col-lg-6 my-2">
                    <label for="">Contact Phone</label>
                    <input class="form-control" type="text" placeholder="Contact Phone" />
                </div>
                <div class="col-lg-6 my-2">
                    <label for="">Contact DTTLD</label>
                    <input class="form-control" type="text" placeholder="Contact DTTLD" />
                </div>
                <div class="col-lg-12 my-2">
                    <label for="">Address</label>
                    <textarea class="form-control" placeholder="Enter Address" cols="30" rows="5"></textarea>
                </div>
                <div class="profile-btn">
                    <button class="btn messaging-submit-btn my-2" type="reset">Discard</button>
                    <button class="btn  messaging-submit-btn my-2" type="submit" style="background-color: rgb(255, 105, 124); color:white;">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card-body p-3 bg-white rounded my-2 box-design">
            <h4>Account Info</h4>
            <h6>Company ID</h6>
            <p>Some Name</p>
            <h6>Account Type</h6>
            <p>Prepaid</p>
            <h6>Support</h6>
            <p>+91 9876543210</p>
        </div>
        <div class="card-body p-3 bg-white rounded my-2 box-design">
            <h4>Company Info</h4>
            <h6>Company Name</h6>
            <p>Some Name</p>
            <h6>Address</h6>
            <p>504, Advent Atria Tower, Opp. Kingston Height,
                Chincholi Bunder Road, Malad (West), Mumbai-400064, India</p>
            <h6>Support</h6>
            <p>+91 9876543210</p>
            <h6>Toll-free Number</h6>
            <p>1800 123456789</p>
            <h6>Website</h6>
            <p>www.dummysite.com</p>
        </div>
    </div>
</div>
