.active {
  color:
  rgb(255, 105, 124) !important;
}
.collapse-title {
  width: 100%;
  background: none;
  color: #000;
  text-align: left;
  border: 1px dotted
  rgb(255, 105, 124);
}
.collapse-content {
  background: #f1faff;
  border: 1px dotted
  rgb(255, 105, 124);
}
.collapse-content-btn {
  color:
  rgb(255, 105, 124);
  width: 30%;
  background: #d1eefe;
  padding: 5px 0px;
  margin: auto;
}
.messaging-submit-btn {
  margin: auto;
}
.profile-btn {
  width: 100%;
  text-align: end;
  padding: 15px;
}
.box-design {
  box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
  border-radius: 15px;
}
