<div class="card-body p-0 bg-white box-design">
    <div class="row card-header m-0 contant-head mt-4">
        <div class="col-lg-12">
            <h5 class="content-title" style="background-color: white;">Recent Logins</h5>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table font-12">
            <thead class="bg-light">
                <tr class="border-0">
                    <th class="border-0">User Name</th>
                    <th class="border-0">IP Address</th>
                    <th class="border-0">Created</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of users | paginate: config">
                    <td>{{list.userName}}</td>
                    <td>{{list.IPaddress}}</td>
                    <td>{{list.created}}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>

    </div>
</div>
