<div class="container-fluid p-3 bg-dashboard">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <nav class="navbar navbar-light bg-light border-bottom">
                <ul class="nav top-nav">
                    <li class="nav-item" routerLink="single">
                        <a class="nav-link active color-blue" routerLinkActive="active">Single</a>
                    </li>
                    <li class="nav-item" routerLink="multiple">
                        <a class="nav-link" routerLinkActive="active">Multiple</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>