<div class="row mt-2">
    <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12 my-2">
        <div class="card-body bg-white rounded">
            <div class="row my-2">
                <div class="col-lg-2">
                    <h6>Choose Type</h6>
                </div>
                <div class="col-lg-10 chooseType-content text-right">
                    <div class="form-check form-check-inline mx-2">
                        <input class="form-check-input" type="radio" name="chooseType" id="Normal" value="Normal">
                        <label class="form-check-label" for="Normal">Normal</label>
                    </div>
                    <div class="form-check form-check-inline mx-2">
                        <input class="form-check-input" type="radio" name="chooseType" id="Media" value="Media">
                        <label class="form-check-label" for="Media">Media</label>
                    </div>
                    <div class="form-check form-check-inline mx-2">
                        <input class="form-check-input" type="radio" name="chooseType" id="QuickReply"
                            value="QuickReply">
                        <label class="form-check-label" for="QuickReply">Quick Reply</label>
                    </div>
                    <div class="form-check form-check-inline mx-2">
                        <input class="form-check-input" type="radio" name="chooseType" id="ImagewithQuickReply"
                            value="ImagewithQuickReply">
                        <label class="form-check-label" for="ImagewithQuickReply">Image with Quick Reply</label>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-lg-4 my-2">
                    <div class="form-check form-check-inline" >
                        <input class="form-check-input" type="checkbox" id="ScheduleDate" value="ScheduleDate" s>
                        <label class="form-check-label" for="ScheduleDate">Schedule Date</label>
                    </div>
                </div>
                <div class="col-lg-4 my-2">
                    <div class="selectDateSec" style="background-color: #fff6f8;">
                        <span  >Select Date</span>
                        <input type="date" class="form-control mx-2 select-box-bg">
                    </div>
                </div>
                <div class="col-lg-4 my-2">
                    <div class="selectDateSec" style="background-color: #fff6f8;">
                        <span>Select Time</span>
                        <input type="time" class="form-control mx-2 select-box-bg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 my-2">
                    <label for="">Mobile</label>
                    <input class="form-control" type="text" placeholder="Mobile Number" />
                </div>
                <div class="col-lg-6 my-2">
                    <label for="">Email</label>
                    <input class="form-control" type="text" placeholder="Email" />
                </div>
                <div class="col-lg-6 my-2">
                    <label for="">Name</label>
                    <input class="form-control" type="text" placeholder="Name" />
                </div>
                <div class="col-lg-6 my-2">
                    <label for="">Select</label>
                    <select class="form-control"  >
                        <option value="All User" selected>Normal</option>
                        <option value="User">User</option>
                        <option value="SMS">SMS</option>
                    </select>
                </div>
                <div class="col-lg-12 my-2">
                    <textarea class="form-control" placeholder="Enter Message" cols="30" rows="5"></textarea>
                </div>
                <button class="btn messaging-submit-btn my-2"
                style="background-color: rgb(255, 105, 124); color:white;">Submit</button>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-6 col-sm-12 col-12 my-2">
        <div class="card-body p-3 bg-white rounded">
            <h4>Choose a Template</h4>
            <p>From total 482 Templates</p>
            <input class="form-control" type="text" placeholder="Search Templates" />
            <button class="btn btn-primary collapse-title my-2" type="button" data-toggle="collapse"
                data-target="#template1" aria-expanded="false" aria-controls="template1">
                Template 1
            </button>
            <div class="collapse show" id="template1">
                <div class="card card-body collapse-content">
                    <h4>Template 1</h4>
                    <p>Withdraw money to your bank account per transaction under</p>
                    <button type="submit" class="btn collapse-content-btn">Apply</button>
                </div>
            </div><button class="btn btn-primary collapse-title my-2" type="button" data-toggle="collapse"
                data-target="#template2" aria-expanded="false" aria-controls="template2">
                Template 2
            </button>
            <div class="collapse" id="template2">
                <div class="card card-body collapse-content">
                    <h4>Template 2</h4>
                    <p>Withdraw money to your bank account per transaction under</p>
                    <button type="submit" class="btn collapse-content-btn">Apply</button>
                </div>
            </div><button class="btn btn-primary collapse-title my-2" type="button" data-toggle="collapse"
                data-target="#template3" aria-expanded="false" aria-controls="template3">
                Template 3
            </button>
            <div class="collapse" id="template3">
                <div class="card card-body collapse-content">
                    <h4>Template 3</h4>
                    <p>Withdraw money to your bank account per transaction under</p>
                    <button type="submit" class="btn collapse-content-btn">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>
